//.header {
//    background-color: rgb(3, 3, 184);
//    height: 50px;
//    width: 1200px;
//    display: flex;
//    justify-content: space-between;
//    padding: 10px 10px;


//}
//.nav {
//    color: white;
//    font-size: 30px;
//    margin: 5px 20px ;
//    font-weight: bold;
//}

.addNav {
    color: white;
    font-size: 14px;
    margin: 10px 20px ;
    font-weight: normal;
    background-color: rgb(251, 110, 9);
    border-radius: 5px;
    padding: 5px;

}